@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "welcome";
@import "dashboard";

@import "header";
@import "footer";

@import "admin_index";
@import "admin_show";
@import "admin_edit";
@import "admin_create";

@import "guest_index";
@import "guest_show";

body {
    font-size: 16px;
}

main {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.carousel.slide {
    width: 800px;
    height: 500px;

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.538);
    }

    .carousel-item img {
        width: 800px;
        height: 500px;
    }
}